---
import { getCollection } from "astro:content"
import BaseLayout from "../layouts/BaseLayout.astro"
import ProjectCard from "../components/ProjectCard"

const pageTitle = "Projects"
const projects = (await getCollection('projects')).sort(
  (a, b) => Date.parse(b.data.date.toString()) - Date.parse(a.data.date.toString())
);
---
<BaseLayout pageTitle={pageTitle}>
  <div class="mt-4">
    <h1 class="font-Nunito font-semibold text-4xl lg:text-5xl text-[#D9D9D9]">#{pageTitle}</h1>
    <p class="font-Source-Sans-Pro text-xl lg:text-2xl mt-[10px] text-[#D9D9D9] max-w-screen-2xl">
      Take a look at a few of my projects! If you like them, I have a few more hiding on my github page.
    </p>
  </div>
  <div class="flex flex-row gap-3 flex-wrap mt-8 justify-center items-center">
    {
      projects.map((p) => (
        <ProjectCard
          title={p.data.title}
          description={p.data.description}
          url={p.slug}
          color={p.data.color}
          type={p.data.type}
          languages={p.data.langs}
        />
      ))
    }
  </div>
</BaseLayout>
