---
const { svg, title, link, viewBox } = Astro.props

const onPress = `window.open('${link}')`
---
<button
    role="button"
    onclick={onPress}
    class="h-20 w-72 border border-[#459DDE] text-[#459DDE] flex flex-row justify-around items-center fill-[#459DDE] hover:bg-[#459DDE] hover:fill-[#252525] hover:text-[#252525] transition-all text-4xl font-Nunito mb-[33px]">
  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" class="w-[60px] h-[60px]" viewBox={viewBox}>
    <title>{title}</title>
    <path d={svg}></path>
  </svg>
  <p>{title}</p>
</button>
